name: Waka Readme

on:
  schedule:
    # Runs at 12am IST
    - cron: "30 18 * * *"
  workflow_dispatch:
jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SHOW_LINES_OF_CODE: "True"
          SHOW_SHORT_INFO: "False"
          BADGE_STYLE: "plastic"
          MAX_REPOS: 30
          IGNORED_REPOS: "ad1_cpw_2025_2, hr-pto-tracker, socialkit, github-readme-stats, v4, HyDE, data-science, Patch-Recovery, projeto01, projeto03, PHP-For-Beginners-Series, dio-lab-open-source, dsProject, nextjs"
